/*

COLOR VARIABLES


$colors: (
    white: rgba(255,255,255,1),
    black: rgba(0,0,0,1),
    blue: rgba(3,110,200,1),
    red: rgba(245,49,10,1),
    orange: rgba(255,158,61,1),
    gray: rgba(164,179,179,1)
);

*/


@each $color, $value in $colors {

        // Text Colors
        .color-#{$color}    {   color: rgba($value, 1.0);   }
        .color-#{$color}90  {   color: rgba($value, 0.9);   }
        .color-#{$color}80  {   color: rgba($value, 0.8);   }
        .color-#{$color}70  {   color: rgba($value, 0.7);   }
        .color-#{$color}60  {   color: rgba($value, 0.6);   }
        .color-#{$color}50  {   color: rgba($value, 0.5);   }
        .color-#{$color}40  {   color: rgba($value, 0.4);   }
        .color-#{$color}30  {   color: rgba($value, 0.3);   }
        .color-#{$color}20  {   color: rgba($value, 0.2);   }
        .color-#{$color}10  {   color: rgba($value, 0.1);   }
        .color-#{$color}05  {   color: rgba($value, 0.05);  }

        // Background colors
        .bg-#{$color}       {   background-color: rgba($value, 1.0);    }
        .bg-#{$color}90     {   background-color: rgba($value, 0.9);    }
        .bg-#{$color}80     {   background-color: rgba($value, 0.8);    }
        .bg-#{$color}70     {   background-color: rgba($value, 0.7);    }
        .bg-#{$color}60     {   background-color: rgba($value, 0.6);    }
        .bg-#{$color}50     {   background-color: rgba($value, 0.5);    }
        .bg-#{$color}40     {   background-color: rgba($value, 0.4);    }
        .bg-#{$color}30     {   background-color: rgba($value, 0.3);    }
        .bg-#{$color}20     {   background-color: rgba($value, 0.2);    }
        .bg-#{$color}10     {   background-color: rgba($value, 0.1);    }
        .bg-#{$color}05     {   background-color: rgba($value, 0.05);   }

        // Border colors
        .border-#{$color}    {   border-color: rgba($value, 1.0);   }
        .border-#{$color}90  {   border-color: rgba($value, 0.9);   }
        .border-#{$color}80  {   border-color: rgba($value, 0.8);   }
        .border-#{$color}70  {   border-color: rgba($value, 0.7);   }
        .border-#{$color}60  {   border-color: rgba($value, 0.6);   }
        .border-#{$color}50  {   border-color: rgba($value, 0.5);   }
        .border-#{$color}40  {   border-color: rgba($value, 0.4);   }
        .border-#{$color}30  {   border-color: rgba($value, 0.3);   }
        .border-#{$color}20  {   border-color: rgba($value, 0.2);   }
        .border-#{$color}10  {   border-color: rgba($value, 0.1);   }
        .border-#{$color}05  {   border-color: rgba($value, 0.05);  }

        // Border colors
        .fill-#{$color}    {   fill: rgba($value, 1.0);   }
        .fill-#{$color}90  {   fill: rgba($value, 0.9);   }
        .fill-#{$color}80  {   fill: rgba($value, 0.8);   }
        .fill-#{$color}70  {   fill: rgba($value, 0.7);   }
        .fill-#{$color}60  {   fill: rgba($value, 0.6);   }
        .fill-#{$color}50  {   fill: rgba($value, 0.5);   }
        .fill-#{$color}40  {   fill: rgba($value, 0.4);   }
        .fill-#{$color}30  {   fill: rgba($value, 0.3);   }
        .fill-#{$color}20  {   fill: rgba($value, 0.2);   }
        .fill-#{$color}10  {   fill: rgba($value, 0.1);   }
        .fill-#{$color}05  {   fill: rgba($value, 0.05);  }

        // Border colors
        .stroke-#{$color}    {   stroke: rgba($value, 1.0);   }
        .stroke-#{$color}90  {   stroke: rgba($value, 0.9);   }
        .stroke-#{$color}80  {   stroke: rgba($value, 0.8);   }
        .stroke-#{$color}70  {   stroke: rgba($value, 0.7);   }
        .stroke-#{$color}60  {   stroke: rgba($value, 0.6);   }
        .stroke-#{$color}50  {   stroke: rgba($value, 0.5);   }
        .stroke-#{$color}40  {   stroke: rgba($value, 0.4);   }
        .stroke-#{$color}30  {   stroke: rgba($value, 0.3);   }
        .stroke-#{$color}20  {   stroke: rgba($value, 0.2);   }
        .stroke-#{$color}10  {   stroke: rgba($value, 0.1);   }
        .stroke-#{$color}05  {   stroke: rgba($value, 0.05);  }


}
