/*

Display Utilities

*/

// Responsive display utilities
@include prefix {

  // Include to cause an element to hide at a specific breakpoint
  &hide           {   display: none; }

  // display utilities
  &block          {   display: block; }
  &ib             {   display: inline-block; }
  &inline         {   display: inline; }

  // table utilities
  &table          {   display: table; }
  &table-cell     {   display: table-cell; }
  &table-fixed    {   table-layout: fixed; }

}

.border-box {   box-sizing: border-box; }
