/*

DISPLAY


*/


.block          {   display: block; }
.ib             {   display: inline-block; }
.inline         {   display: inline; }

.table          {   display: table; }
.table-cell     {   display: table-cell; }

.v-middle       {   vertical-align: middle; }



