/*

Float utility classes

*/

// Floats
.float-l 	  { float: left; }
.float-r  	{ float: right; }
.float-none { float: none; }

// Clear Floats
.clear 		{ clear: both; }
.clear-l 	{ clear: left; }
.clear-r 	{ clear: both; }

// Clearfix to create new block elements
.clearfix:before,
.clearfix:after 	{	content: ""; display: table; }
.clearfix:after 	{	clear: both; }
.clearfix 			  {	zoom: 1; }  /* ie 6/7 */
