/*

Typography utilities

Base Definition:
fs - font-size

Modifiders:
1: Scale Step 1
2: Scale Step 2
3: Scale Step 3
4: Scale Step 4
5: Scale Step 5
6: Scale Step 6

*/

// .fs-callout { font-size: 6rem; }
// .fs1 { font-size: 3rem; }
// .fs2 { font-size: 2.25rem; }
// .fs3 { font-size: 1.5rem; }
// .fs4 { font-size: 1.25rem; }
// .fs5 { font-size: 1rem; }
// .fs6 { font-size: 0.75rem; }

@include prefix {
    @for $i from 1 through length($fontSizes) {
      &fs#{$i} { font-size: nth($fontSizes, $i) + px; }
  }
}

/*
.h1 {
  font-size: 3rem;
}

.h2 {
  font-size: 2.25rem;
}

.h3 {
  font-size: 1.5rem;
}

.h4 {
  font-size: 1.25rem;
}

.h5 {
  font-size: 1rem;
}

.h6 {
  font-size: 0.75rem;
}
*/
