/*

Font Family Utility Classes

*/


.sans-serif {
  font-family: $sans-serif;
}


code, .code {
  font-family: Consolas,
               Monaco,
               "Lucida Console",
               "Liberation Mono",
               "DejaVu Sans Mono",
               "Bitstream Vera Sans Mono",
               "Courier New",
               monospace;
}

*, *:before, *:after {
  box-sizing: inherit;
}
