/*

MARGINS


base:
 m = margin

direction:
  t = top
  b = bottom
  l = left
  r = right
  x = left / right
  y = top / bottom
  a = all

degree:
  0 = none
  1 = first step
  2 = second step
  3 = third step
  4 = fourth step
  5 = fifth step
  6 = sixth step

breakpoints:
  sm = breakpoint-sm
  md = breakpoint-md
  lg = breakpoint-lg

*/

// :root {
//   --spacing-none: 0;
//   --spacing-xs: 0.25rem;
//   --spacing-sm: 0.5rem;
//   --spacing-md: 1rem;
//   --spacing-lg: 2em;
//   --spacing-xlg: 3rem;
//   --spacing-xxlg: 6rem;
//   --spacing-xxxlg: 10rem;
  
// }



@include prefix {

  &ml-auto {   margin-left: auto;  }
  &mr-auto {   margin-right: auto; }
  &mx-auto {   margin-left: auto;
               margin-right: auto; }


  @for $i from 1 through length($spaces) {
      &ma#{($i - 1)} {  margin:          nth($spaces, $i) + px; }
      &ml#{($i - 1)} {  margin-left:     nth($spaces, $i) + px; }
      &mr#{($i - 1)} {  margin-right:    nth($spaces, $i) + px; }
      &mt#{($i - 1)} {  margin-top:      nth($spaces, $i) + px; }
      &mb#{($i - 1)} {  margin-bottom:   nth($spaces, $i) + px; }

      &mx#{($i - 1)} {  margin-left:    nth($spaces, $i) + px;
                        margin-right:   nth($spaces, $i) + px; }

      &my#{($i - 1)} {  margin-top:     nth($spaces, $i) + px;
                        margin-bottom:  nth($spaces, $i) + px; }
  }
}
