/*

Margin space utilities

Base:
  m = margin

Direction:
  t = top
  b = bottom
  l = left
  r = right
  x = left / right
  y = top / bottom
  a = all

*/

/* Add breakpoint prefixes to classnames */
@include prefix {

  @for $i from 1 through length($spaces) {
    $size: nth($spaces, $i);
    $scale: ($i - 1);

      /* set a {$scale} margin on all sides at breakpoint {$breakpoint} */
      &ma#{$scale} {  margin:          #{$size}px; }
      /* set a {$scale} margin on the left side at breakpoint {$breakpoint} */
      &ml#{$scale} {  margin-left:     #{$size}px; }
      /* set a {$scale} margin on the right side at breakpoint {$breakpoint} */
      &mr#{$scale} {  margin-right:    #{$size}px; }
      /* set a {$scale} margin on the top at breakpoint {$breakpoint} */
      &mt#{$scale} {  margin-top:      #{$size}px; }
      /* set a {$scale} margin on the bottom at breakpoint {$breakpoint} */
      &mb#{$scale} {  margin-bottom:   #{$size}px; }

      /* set a {$scale} margin on the left and right sides at breakpoint {$breakpoint} */
      &mx#{$scale} {
        margin-left:     #{$size}px;
        margin-right:    #{$size}px;
      }

      /* set a {$scale} margin on the top and bottom at breakpoint {$breakpoint} */
      &my#{$scale} {
        margin-top:      #{$size}px;
        margin-bottom:   #{$size}px;
      }
  }

  /* Set automatic margin on left */
  &ml-auto {   margin-left: auto;  }

  /* Set automatic margin on right */
  &mr-auto {   margin-right: auto; }

  /* Set automatic margin on left and right */
  &mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

}
