/*

Text Overflow Utilities

*/

.overflow-scroll   { text-overflow: scroll; }
.overflow-e        { text-overflow: ellipsis; }
.overflow-c        { text-overflow: clip; }
.overflow-dash     { text-overflow: "—" }
